* {
    margin: 0;
    line-height: 1.5em
}

html {
    height: 100%;
    width: 100%;
    color: white;
}

body {
    background-image: url('./img/taku.png');
    background-size: cover;
    background-position: bottom;
    background-color: black;
	height: 100%;
	overflow: hidden; /* 画面全体のスクロール非表示 */
}

body div:not(input){
    position: relative;
}

img.paiimg{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

#flame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    #loading_filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    /* ----------------------- 色々表示するメインエリア ----------------------- */
    #main {
        position: relative;
        height: 80%;
        z-index: 100;
    }

    #syanten_area{
        position: relative;
        height: 3.5em;
        width: 85%;
        background-color: #141a30;
        top: 0.5em;
        margin: 0 auto 0;
        color: #e0ab67;
        font-weight: bold;
    }

        #syanten_area > span{
            position: relative;
            padding: 0.2em;
        }

        .tenpai{
            color: yellow;
        }
        .agari{
            color: red;
        }
    /* ------------------- 有効牌表示 ------------------- */
    #yukohai_area{
        position: relative;
        height: calc(90% - 6px);
        width: calc(95% - 6px);
        background-color: #141a30;
        border: 3px #c48e5d solid;
        top: 10px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
    }

        #yukohai_area table{
            margin-top: 1.5%;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            border: 0px;
        }

        #yukohai_area tr{
            width: 100%;
        }

        #yukohai_area td{
            width: 100%;
        }

        #yukohai_area .paiimg {
            display: inline-block;
            height: 2em;
            margin: 0.2em 0 0.2em;
            vertical-align: bottom;
        }

        .ryoke{
            filter: brightness(80%);
        }

            #yukohai_area tr.table_header {
                background: radial-gradient(circle, #2e3958 0%, #2e3958 50%, #1a2f58 99%, #2e3958 100%);
            }

            #yukohai_area tr.table_data td {
                border: 1px solid #273654;
            }

        /* ----------------------- 手牌入力画面 ----------------------- */
        #popup {
            position: absolute;
            height: calc(90% - 6px);
            width: calc(90% - 6px);
            z-index: 500;
            background-color: #141a30;
            border: 3px #c48e5d solid;
            top: 5%;
            left: 5%;
        }

            #popup .paiimg {
                width: 8%;
                margin: 0% 0.5%
            }

            #popup input {
                width: 80%;
                margin: 1%;
                padding: 1%;
                color: black;
                font-size: 1.5em;
            }
            /* 入力例画像専用 */
            #tehai_ex .paiimg{
                width: 4%;
                margin: 0;
            }
            #tehai_ex{
                margin: 1%;
            }
            /* リセットボタン */
            #reset_button {
                width: 27%;
            }
            #tehai_make_button {
                width: 40%;
            }

            div#twitter_button{
                position: absolute;
                background-color: #1da1f2;
                padding: 5px;
                border-radius: 20px;
                top: 2%;
                right: 2%;
                font-weight: bold;

            }

        /* ----------------------- 設定画面 ----------------------- */

        #longpopup{
            position: absolute;
            height: calc(105% - 6px);
            width: calc(96% - 6px);
            z-index: 500;
            background-color: #141a30;
            border: 3px #c48e5d solid;
            top: 5%;
            left: 2%;
        }

            #longpopup p{
                background-color: #141a30;
                color: #e0aa6e;
                font-weight: bold;
                font-size: 1.5em;
                text-align: center;
                line-height: 3em;
            }

            #longpopup .scroll_area{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            #longpopup form{
                background-color: #26324e;
            }

            #longpopup span.settingname{
                color: #e0aa6e;
                font-weight: bold;
                font-size: 1.1em;
                text-align: left;
            }

            #longpopup div.hr{
                background-color: #2f3e62;
                height: 2px;
                width: 97%;
                margin: 0.5em auto 0.5em auto;
            }

            #longpopup form label{
                color: #9aa0b1;
            }
            #longpopup .check{
                color: #cad4f7;
            }

            /* その他画面のheader */
            #longpopup .other_header{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                background: radial-gradient(circle, #161f35 0%, #161f35 50%, #243151 99%, #2f3e62 100%);
                border: 2px #2f3e62 solid;
                color: #e9c18a;
                text-align: center;
                line-height: 2em;
            }

            #longpopup .other_header img{
                position: absolute;
                right: 2px;
                bottom: 2px;
                width: 10%;
                height: 30%;
            }

            /* その他画面のbody */
            #longpopup .other_header + div{
                display: none;
                opacity: 0;
                width: 88%;
                margin-left: auto;
                margin-right: auto;
                background-color: none;
                color: #cbc7c7;
                overflow: hidden;
            }

            /* 赤文字 */
            .other_body span.attention{
                color: red;
            }
            /* 下線 */
            .other_body span.bline{
                text-decoration: underline;
            }
            /* 取り消し線 */
            .other_body span.cline{
                text-decoration: line-through;
            }
            /* リンク */
            .other_body a{
                color: lime;
            }

        /* ポップアップ閉じるボタン */
        #close_button{
            position: absolute;
            width: 2.5em;
            z-index: 600;
        }


    /* ----------------------- 手牌出力エリア ----------------------- */
    #paiTehai {
        position: relative;
        align-items: center;
        display: flex;
        height: 10%;
        width: 100%;
    }

        #paiTehai > img:first-child, img:nth-of-type(3n+2):last-child {
            margin-left: 2%;
        }

        #paiTehai .paiimg {
            width: 6.5%;
        }

    /* ----------------------- メニューエリア ----------------------- */
        #menu {
        position: fixed;
        height: 10%;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: #141a30;
        display: flex;
        text-align: center;
        justify-content:space-between;
    }

        #menu .menu_button{
            position: relative;
            background-color: #141a30;
            width: 100%;
            color: #a8a6bb;
            font-weight: bold;
            font-size: 1.3em;
            border: 2px #c48e5d solid;
        }
        #menu .menu_button p{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%);
        }

        #menu .menu_button:hover{
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255, 237, 170, 0.2) 0%, transparent 100%);
            z-index: 150;
            color: #ffedaa;
        }

/* ----------------------------------------------　汎用系css ----------------------------------------------　*/

.scroll_area {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* 押せるボタンはカーソルを変える */
#paiTehai .paiimg, #all_pailist img, #tehai_make_button, #close_button, .menu_button, #yukohai_area .paiimg, #twitter_button, #longpopup .other_header{
    cursor: pointer;
}

/* 押せるボタンをホバーしている間は少し白っぽく表示させる */
#paiTehai .paiimg:hover, #all_pailist img:hover, #tehai_make_button:hover, #close_button:hover, #yukohai_area .paiimg:hover{
    filter: brightness(130%);
}

#yukohai_area img.pai-1-1:hover{
    cursor: auto;
    filter: none;
}

/* 開いている箇所のポップアップボタンは文字の色を変える */
.open{
    color: #ffedaa;
}